<div class="slider-slide swiper-slide" data-slide-number="17" data-swiper-slide-index="17" style="width: 222.667px; margin-right: 20px;"><div class="sc_team_item no_links post-6315 cpt_team type-cpt_team status-publish has-post-thumbnail hentry cpt_team_group-directors">
    <div class="post_featured sc_team_item_thumb trx_addons_hover trx_addons_hover_style_info"><img width="476" height="500" src="https://yultimate.org/wp-content/uploads/2021/06/Aditya-Mazumdar-476x500.jpg" class="attachment-ekoterra-thumb-team-square size-ekoterra-thumb-team-square wp-post-image" alt="Image of Aditya Mazumdar" loading="lazy" srcset="https://yultimate.org/wp-content/uploads/2021/06/Aditya-Mazumdar-476x500.jpg 476w, https://yultimate.org/wp-content/uploads/2021/06/Aditya-Mazumdar-381x400.jpg 381w, https://yultimate.org/wp-content/uploads/2021/06/Aditya-Mazumdar-974x1024.jpg 974w, https://yultimate.org/wp-content/uploads/2021/06/Aditya-Mazumdar-768x807.jpg 768w, https://yultimate.org/wp-content/uploads/2021/06/Aditya-Mazumdar-1461x1536.jpg 1461w, https://yultimate.org/wp-content/uploads/2021/06/Aditya-Mazumdar-370x389.jpg 370w, https://yultimate.org/wp-content/uploads/2021/06/Aditya-Mazumdar-760x799.jpg 760w, https://yultimate.org/wp-content/uploads/2021/06/Aditya-Mazumdar-387x407.jpg 387w, https://yultimate.org/wp-content/uploads/2021/06/Aditya-Mazumdar-600x631.jpg 600w, https://yultimate.org/wp-content/uploads/2021/06/Aditya-Mazumdar.jpg 1663w" sizes="(max-width: 476px) 100vw, 476px"><div class="trx_addons_hover_content"><div class="sc_team_item_socials socials_wrap trx_addons_hover_info"></div></div><div class="trx_addons_hover_mask"></div></div>	<div class="sc_team_item_info">
    <div class="sc_team_item_header">
    <h6 class="sc_team_item_title">Aditya Mazumdar</h6>
    <div class="sc_team_item_subtitle">Communication</div>
    </div>
    </div>
    </div>
    </div>