<div class="slides slider-wrapper swiper-wrapper sc_item_columns_5" style="transform: translate3d(-3397.33px, 0px, 0px); transition-duration: 0ms;">
    <div class="slider-slide swiper-slide swiper-slide-duplicate" data-slide-number="19" data-swiper-slide-index="19" style="width: 222.667px; margin-right: 20px;">
        <div class="sc_team_item no_links post-553 cpt_team type-cpt_team status-publish has-post-thumbnail hentry cpt_team_group-coaches">
            <div class="post_featured sc_team_item_thumb trx_addons_hover trx_addons_hover_style_info"><img width="500" height="500" src="https://yultimate.org/wp-content/uploads/2018/07/dinesh-500x500.jpg" class="attachment-ekoterra-thumb-team-square size-ekoterra-thumb-team-square wp-post-image" alt="" loading="lazy" srcset="https://yultimate.org/wp-content/uploads/2018/07/dinesh-500x500.jpg 500w, https://yultimate.org/wp-content/uploads/2018/07/dinesh-400x400.jpg 400w, https://yultimate.org/wp-content/uploads/2018/07/dinesh-150x150.jpg 150w, https://yultimate.org/wp-content/uploads/2018/07/dinesh-768x768.jpg 768w, https://yultimate.org/wp-content/uploads/2018/07/dinesh-370x370.jpg 370w, https://yultimate.org/wp-content/uploads/2018/07/dinesh-285x285.jpg 285w, https://yultimate.org/wp-content/uploads/2018/07/dinesh-90x90.jpg 90w, https://yultimate.org/wp-content/uploads/2018/07/dinesh-760x760.jpg 760w, https://yultimate.org/wp-content/uploads/2018/07/dinesh-387x387.jpg 387w, https://yultimate.org/wp-content/uploads/2018/07/dinesh-300x300.jpg 300w, https://yultimate.org/wp-content/uploads/2018/07/dinesh-600x600.jpg 600w, https://yultimate.org/wp-content/uploads/2018/07/dinesh.jpg 800w" sizes="(max-width: 500px) 100vw, 500px">
                <div class="trx_addons_hover_content">
                    <div class="sc_team_item_socials socials_wrap trx_addons_hover_info"></div>
                    </div>
                <div class="trx_addons_hover_mask">
            </div>
        </div>	
        <div class="sc_team_item_info">
        <div class="sc_team_item_header">
            <h6 class="sc_team_item_title">Dinesh Rajali</h6>
                <div class="sc_team_item_subtitle">Coach</div>
                </div>
            </div>      
        </div>
    </div>