<div class="slider-slide swiper-slide" data-slide-number="0" data-swiper-slide-index="0" style="width: 222.667px; margin-right: 20px;"><div class="sc_team_item no_links post-5668 cpt_team type-cpt_team status-publish has-post-thumbnail hentry cpt_team_group-directors cpt_team_group-prime">
    <div class="post_featured sc_team_item_thumb trx_addons_hover trx_addons_hover_style_info"><img width="216" height="240" src="https://yultimate.org/wp-content/uploads/2020/12/rohith.jpg" class="attachment-ekoterra-thumb-team-square size-ekoterra-thumb-team-square wp-post-image" alt="" loading="lazy"><div class="trx_addons_hover_content"><div class="sc_team_item_socials socials_wrap trx_addons_hover_info"></div></div><div class="trx_addons_hover_mask"></div></div>	<div class="sc_team_item_info">
    <div class="sc_team_item_header">
    <h6 class="sc_team_item_title">Rohit Kohli</h6>
    <div class="sc_team_item_subtitle">Director &amp; Operations</div>
    </div>
    </div>
    </div>
    </div>