<div class="slider-slide swiper-slide swiper-slide-duplicate" data-slide-number="20" data-swiper-slide-index="20" style="width: 222.667px; margin-right: 20px;"><div class="sc_team_item no_links post-7265 cpt_team type-cpt_team status-publish has-post-thumbnail hentry cpt_team_group-directors">
    <div class="post_featured sc_team_item_thumb trx_addons_hover trx_addons_hover_style_info"><img width="479" height="500" src="https://yultimate.org/wp-content/uploads/2021/08/ShishirAug-27-2018-2-min-1-479x500.jpg" class="attachment-ekoterra-thumb-team-square size-ekoterra-thumb-team-square wp-post-image" alt="Portrait of Shishir Gupta" loading="lazy" srcset="https://yultimate.org/wp-content/uploads/2021/08/ShishirAug-27-2018-2-min-1-479x500.jpg 479w, https://yultimate.org/wp-content/uploads/2021/08/ShishirAug-27-2018-2-min-1-383x400.jpg 383w, https://yultimate.org/wp-content/uploads/2021/08/ShishirAug-27-2018-2-min-1-981x1024.jpg 981w, https://yultimate.org/wp-content/uploads/2021/08/ShishirAug-27-2018-2-min-1-768x801.jpg 768w, https://yultimate.org/wp-content/uploads/2021/08/ShishirAug-27-2018-2-min-1-1472x1536.jpg 1472w, https://yultimate.org/wp-content/uploads/2021/08/ShishirAug-27-2018-2-min-1-1962x2048.jpg 1962w, https://yultimate.org/wp-content/uploads/2021/08/ShishirAug-27-2018-2-min-1-370x386.jpg 370w, https://yultimate.org/wp-content/uploads/2021/08/ShishirAug-27-2018-2-min-1-760x793.jpg 760w, https://yultimate.org/wp-content/uploads/2021/08/ShishirAug-27-2018-2-min-1-387x404.jpg 387w, https://yultimate.org/wp-content/uploads/2021/08/ShishirAug-27-2018-2-min-1-600x626.jpg 600w" sizes="(max-width: 479px) 100vw, 479px"><div class="trx_addons_hover_content"><div class="sc_team_item_socials socials_wrap trx_addons_hover_info"></div></div><div class="trx_addons_hover_mask"></div></div>	<div class="sc_team_item_info">
    <div class="sc_team_item_header">
    <h6 class="sc_team_item_title">Shishir Gupta</h6>
    <div class="sc_team_item_subtitle">Director</div>
    </div>
    </div>
    </div>
    </div>