<div class="slider-slide swiper-slide" data-slide-number="8" data-swiper-slide-index="8" style="width: 222.667px; margin-right: 20px;"><div class="sc_team_item no_links post-559 cpt_team type-cpt_team status-publish has-post-thumbnail hentry cpt_team_group-directors">
    <div class="post_featured sc_team_item_thumb trx_addons_hover trx_addons_hover_style_info"><img width="216" height="240" src="https://yultimate.org/wp-content/uploads/2018/07/vivek240.jpg" class="attachment-ekoterra-thumb-team-square size-ekoterra-thumb-team-square wp-post-image" alt="" loading="lazy"><div class="trx_addons_hover_content"><div class="sc_team_item_socials socials_wrap trx_addons_hover_info"><a target="_blank" href="https://www.linkedin.com/in/vivekanand-srivastava-13b78751/" class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons" rel="nofollow"><span class="social_icon social_icon_linkedin"><span class="icon-linkedin"></span></span></a></div></div><div class="trx_addons_hover_mask"></div></div>	<div class="sc_team_item_info">
    <div class="sc_team_item_header">
    <h6 class="sc_team_item_title">Vivekanand Srivastava</h6>
    <div class="sc_team_item_subtitle">Director</div>
    </div>
    </div>
    </div>
    </div>