<div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 718px; position: relative; left: -738px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1"><div><div class="tme-testimonials-slide" style="width: 100%; display: inline-block;">
    <div class="tme-testimonials-item">
    <div class="tme-testimonials-content no-arrow">
        <p>Engaging with Ultimate can go a long way to build mindsets for Peace and Equity in children growing up in conflict-affected areas, where we operate. Ultimate is revolutionising the role of sport in a child’s education.</p>                    </div>
    <div class="tme-testimonials-person">
                                <div class="tme-testimonials-info">
                                        <span class="tme-testimonials-title">Dr. Sonal Sethia</span>
                                                                    <span class="tme-testimonials-subtitle">Chief Operating Officer<br>Sunbird Trust<br>Manipur</span>
                                    </div>
    </div>
    </div>
    </div></div></div>