<div class="slick-slide slick-current slick-active" data-slick-index="3" aria-hidden="false" style="width: 718px; position: relative; left: -2214px; top: 0px; z-index: 999; opacity: 1;"><div><div class="tme-testimonials-slide" style="width: 100%; display: inline-block;">
    <div class="tme-testimonials-item">
    <div class="tme-testimonials-content no-arrow">
        <p>All the coaches would always demonstrate the values they talked about – gender equality, perseverance, knowledge of the game, most importantly Spirit of the game. The kids at Childscapes, learnt not just by listening to them but mostly by observing them.</p>                    </div>
    <div class="tme-testimonials-person">
                                <div class="tme-testimonials-info">
                                        <span class="tme-testimonials-title">Tanazz Anklesaria</span>
                                                                    <span class="tme-testimonials-subtitle">Program Manager<br>Art of Play Foundation<br>Delhi</span>
                                    </div>
    </div>
    </div>
    </div></div></div>