<div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 718px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1"><div>
    <div class="tme-testimonials-slide" style="width: 100%; display: inline-block;">
<div class="tme-testimonials-item">
<div class="tme-testimonials-content no-arrow">
<p>In our experience with Ultimate Frisbee, we have seen it to be a great leveller where girls and boys have played together on the same platform at equal footing. The focus on building collaboration, communication and respect has show in the way we have seen our students transform.</p>                    </div>
<div class="tme-testimonials-person">
                <div class="tme-testimonials-info">
                        <span class="tme-testimonials-title">Prashant Kumar</span>
                                                    <span class="tme-testimonials-subtitle">Co-Founder &amp; Chief Operating Officer<br>The Apprentice Project<br>Maharashtra</span>
                    </div>
</div>
</div>
</div>
</div>
</div>