<div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 718px; position: relative; left: -2952px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1"><div><div class="tme-testimonials-slide" style="width: 100%; display: inline-block;">
    <div class="tme-testimonials-item">
    <div class="tme-testimonials-content no-arrow">
        <p>It is a rare and very good sport that covers life lessons with genuine intentions.</p>                    </div>
    <div class="tme-testimonials-person">
                                <div class="tme-testimonials-info">
                                        <span class="tme-testimonials-title">Mohammad Jafar</span>
                                                                    <span class="tme-testimonials-subtitle">Enrichment Coordinator<br>Avasara Academy<br>Pune, Maharashtra</span>
                                    </div>
    </div>
    </div>
    </div></div></div>