<div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 718px; position: relative; left: -1476px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1"><div><div class="tme-testimonials-slide" style="width: 100%; display: inline-block;">
    <div class="tme-testimonials-item">
    <div class="tme-testimonials-content no-arrow">
        <p>With Frisbee coming in, I saw children doing better with team activities, taking initiative to solve problems on their own before bringing them to the teachers</p>                    </div>
    <div class="tme-testimonials-person">
                                <div class="tme-testimonials-info">
                                        <span class="tme-testimonials-title">Jaspreet Kaur</span>
                                                                    <span class="tme-testimonials-subtitle">Academic Coordinator<br>Peepul<br>Delhi</span>
                                    </div>
    </div>
    </div>
    </div></div></div>