---
    permalink: "/stories"
---

<section class="elementor-section elementor-top-section elementor-element elementor-element-26a2eb8 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="26a2eb8" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;tmea_shape_divider_top&quot;:&quot;none&quot;,&quot;tmea_shape_divider_bottom&quot;:&quot;none&quot;}" style="width: 766px; left: 15px;">
    <div class="elementor-container elementor-column-gap-extended">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5a3ab59 sc_layouts_column_icons_position_left" data-id="5a3ab59" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-8515e1f sc_fly_static elementor-widget elementor-widget-trx_sc_title" data-id="8515e1f" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:333}" data-widget_type="trx_sc_title.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div id="trx_sc_title_399653519" class="sc_title sc_title_accent"><h4 class="sc_item_title sc_title_title sc_item_title_style_accent sc_item_title_tag"><span class="sc_item_title_text">Impact Stories</span></h4><div class="sc_item_descr sc_title_descr"><p>Check out our stories from the ground.</p>
</div><a href="/impact-stories" id="sc_button_1431536794" class="sc_button sc_button_simple sc_item_button sc_item_button_simple sc_title_button sc_button_size_normal sc_button_icon_left"><span class="sc_button_text"><span class="sc_button_title">View All Stories</span></span><!-- /.sc_button_text --></a><!-- /.sc_button --></div><!-- /.sc_title -->		</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>

<section class="elementor-section elementor-top-section elementor-element elementor-element-5f537de elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5f537de" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;tmea_shape_divider_top&quot;:&quot;none&quot;,&quot;tmea_shape_divider_bottom&quot;:&quot;none&quot;}" style="width: 766px; left: 15px;">
    <div class="elementor-container elementor-column-gap-extended">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fef58a5 sc_layouts_column_icons_position_left" data-id="fef58a5" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-14c2048 scheme_default sc_fly_static elementor-widget elementor-widget-trx_sc_blogger" data-id="14c2048" data-element_type="widget" data-widget_type="trx_sc_blogger.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div id="trx_sc_blogger_335723326" class="sc_blogger scheme_default sc_blogger_default"><div class="sc_item_filters sc_blogger_filters sc_blogger_tabs sc_blogger_tabs_ajax inited" data-params="a:59:{s:4:&quot;type&quot;;s:7:&quot;default&quot;;s:12:&quot;hide_excerpt&quot;;s:1:&quot;1&quot;;s:8:&quot;no_links&quot;;s:0:&quot;&quot;;s:9:&quot;post_type&quot;;s:4:&quot;post&quot;;s:8:&quot;taxonomy&quot;;s:8:&quot;category&quot;;s:12:&quot;show_filters&quot;;s:1:&quot;1&quot;;s:16:&quot;taxonomy_filters&quot;;s:8:&quot;category&quot;;s:14:&quot;filters_active&quot;;i:0;s:11:&quot;ids_filters&quot;;a:2:{i:0;s:2:&quot;79&quot;;i:1;s:2:&quot;78&quot;;}s:16:&quot;show_all_filters&quot;;s:1:&quot;1&quot;;s:20:&quot;all_btn_text_filters&quot;;s:11:&quot;All Stories&quot;;s:9:&quot;more_text&quot;;s:9:&quot;Read more&quot;;s:10:&quot;pagination&quot;;s:4:&quot;none&quot;;s:4:&quot;page&quot;;i:1;s:2:&quot;id&quot;;s:24:&quot;trx_sc_blogger_335723326&quot;;s:5:&quot;class&quot;;s:0:&quot;&quot;;s:3:&quot;css&quot;;s:0:&quot;&quot;;s:5:&quot;title&quot;;s:0:&quot;&quot;;s:11:&quot;title_align&quot;;s:4:&quot;none&quot;;s:11:&quot;title_style&quot;;s:7:&quot;default&quot;;s:9:&quot;title_tag&quot;;s:2:&quot;h6&quot;;s:11:&quot;title_color&quot;;s:0:&quot;&quot;;s:12:&quot;title_color2&quot;;s:0:&quot;&quot;;s:18:&quot;gradient_direction&quot;;s:1:&quot;0&quot;;s:8:&quot;subtitle&quot;;s:0:&quot;&quot;;s:14:&quot;subtitle_align&quot;;s:4:&quot;none&quot;;s:17:&quot;subtitle_position&quot;;s:5:&quot;above&quot;;s:11:&quot;description&quot;;s:0:&quot;&quot;;s:4:&quot;link&quot;;s:0:&quot;&quot;;s:10:&quot;link_style&quot;;s:7:&quot;default&quot;;s:10:&quot;link_image&quot;;a:2:{s:3:&quot;url&quot;;s:0:&quot;&quot;;s:2:&quot;id&quot;;s:0:&quot;&quot;;}s:9:&quot;link_text&quot;;s:0:&quot;&quot;;s:10:&quot;new_window&quot;;i:0;s:6:&quot;slider&quot;;b:0;s:17:&quot;slider_pagination&quot;;s:6:&quot;bottom&quot;;s:24:&quot;slider_pagination_thumbs&quot;;i:0;s:15:&quot;slider_controls&quot;;s:7:&quot;outside&quot;;s:12:&quot;slides_space&quot;;i:30;s:15:&quot;slides_centered&quot;;s:0:&quot;&quot;;s:15:&quot;slides_overflow&quot;;s:0:&quot;&quot;;s:18:&quot;slider_mouse_wheel&quot;;s:0:&quot;&quot;;s:15:&quot;slider_autoplay&quot;;s:1:&quot;1&quot;;s:3:&quot;cat&quot;;s:1:&quot;0&quot;;s:7:&quot;columns&quot;;i:3;s:5:&quot;count&quot;;i:9;s:6:&quot;offset&quot;;i:0;s:7:&quot;orderby&quot;;s:4:&quot;none&quot;;s:5:&quot;order&quot;;s:3:&quot;asc&quot;;s:3:&quot;ids&quot;;s:0:&quot;&quot;;s:11:&quot;count_extra&quot;;a:3:{s:4:&quot;unit&quot;;s:2:&quot;px&quot;;s:4:&quot;size&quot;;i:9;s:5:&quot;sizes&quot;;a:0:{}}s:13:&quot;columns_extra&quot;;a:3:{s:4:&quot;unit&quot;;s:2:&quot;px&quot;;s:4:&quot;size&quot;;i:3;s:5:&quot;sizes&quot;;a:0:{}}s:18:&quot;slides_space_extra&quot;;a:3:{s:4:&quot;unit&quot;;s:2:&quot;px&quot;;s:4:&quot;size&quot;;i:30;s:5:&quot;sizes&quot;;a:0:{}}s:12:&quot;offset_extra&quot;;a:3:{s:4:&quot;unit&quot;;s:2:&quot;px&quot;;s:4:&quot;size&quot;;i:0;s:5:&quot;sizes&quot;;a:0:{}}s:24:&quot;gradient_direction_extra&quot;;a:3:{s:4:&quot;unit&quot;;s:2:&quot;px&quot;;s:4:&quot;size&quot;;i:0;s:5:&quot;sizes&quot;;a:0:{}}s:10:&quot;link_extra&quot;;a:4:{s:3:&quot;url&quot;;s:0:&quot;&quot;;s:11:&quot;is_external&quot;;s:0:&quot;&quot;;s:8:&quot;nofollow&quot;;s:0:&quot;&quot;;s:17:&quot;custom_attributes&quot;;s:0:&quot;&quot;;}s:6:&quot;scheme&quot;;s:7:&quot;default&quot;;s:11:&quot;color_style&quot;;s:7:&quot;default&quot;;s:5:&quot;hover&quot;;s:7:&quot;inherit&quot;;s:2:&quot;sc&quot;;s:10:&quot;sc_blogger&quot;;}">
<ul class="sc_item_filters_titles sc_blogger_filters_titles">						<li>
    <a href="#blogger_filters_all_content" class="sc_blogger_filters_all active" data-tab="all" data-page="1">All Stories</a>
    </li><li>
        <a href="#blogger_filters_79_content" data-tab="79" data-page="1">Player Stories</a>
    </li><li>
        <a href="#blogger_filters_78_content" data-tab="78" data-page="1">Team Stories</a>
    </li>				</ul>
</div>
<!--Enter stories here-->
{% for story in stories %}
    {{page.content}}
{% endfor %}
<div class="elementor-element elementor-element-67dcee9 sc_fly_static elementor-widget elementor-widget-spacer" data-id="67dcee9" data-element_type="widget" data-widget_type="spacer.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>