<section class="elementor-section elementor-top-section elementor-element elementor-element-ff11348 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ff11348" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;tmea_shape_divider_top&quot;:&quot;none&quot;,&quot;tmea_shape_divider_bottom&quot;:&quot;none&quot;}" style="width: 766px; left: 15px;">
    <div class="elementor-container elementor-column-gap-extended">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f28cbd3 sc_layouts_column_icons_position_left" data-id="f28cbd3" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-ddc8cd3 sc_fly_static elementor-widget elementor-widget-spacer" data-id="ddc8cd3" data-element_type="widget" data-widget_type="spacer.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-9a2d865 sc_fly_static elementor-widget elementor-widget-trx_sc_title" data-id="9a2d865" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="trx_sc_title.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div id="trx_sc_title_918210610" class="sc_title sc_title_accent"><h4 class="sc_item_title sc_title_title sc_item_title_style_accent sc_item_title_tag"><span class="sc_item_title_text">Meet Our Team</span></h4><div class="sc_item_descr sc_title_descr"><p>Meet our family that strives to spread ultimate.</p>
</div><a href="/meet-the-team/" id="sc_button_447834203" class="sc_button sc_button_simple sc_item_button sc_item_button_simple sc_title_button sc_button_size_normal sc_button_icon_left"><span class="sc_button_text"><span class="sc_button_title">View All</span></span><!-- /.sc_button_text --></a><!-- /.sc_button --></div><!-- /.sc_title -->		</div>
</div>
<div class="elementor-element elementor-element-0a1a05a sc_fly_static elementor-widget elementor-widget-spacer" data-id="0a1a05a" data-element_type="widget" data-widget_type="spacer.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-48723db team-c sc_fly_static elementor-widget elementor-widget-trx_sc_team animated fadeInUp" data-id="48723db" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-widget_type="trx_sc_team.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div id="trx_sc_team_1812733448" class="sc_team color_style_dark sc_team_short"><div id="trx_sc_team_1812733448_swiper_outer" class="sc_team_slider sc_item_slider slider_swiper_outer slider_outer slider_outer_nocontrols slider_outer_nopagination slider_outer_nocentered slider_outer_overflow_hidden slider_outer_multi">
<div id="trx_sc_team_1812733448_swiper" class="slider_container swiper-slider-container slider_swiper slider_noresize slider_nocontrols slider_nopagination slider_nocentered slider_overflow_hidden slider_multi trx_sc_team_1812733448_swiper inited swiper-container-initialized swiper-container-horizontal" data-slides-per-view="5" data-slides-space="20" data-slides-min-width="220" data-pagination="bullets" data-mouse-wheel="0" data-autoplay="1" data-slides-centered="0" data-slides-overflow="0" data-busy="0" style="display: block; opacity: 1; cursor: grab;">
<!--Team members added here -->
</div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div></div></div><!-- /.sc_team -->		</div>
</div>
<div class="elementor-element elementor-element-2218ef6 sc_fly_static elementor-widget elementor-widget-spacer" data-id="2218ef6" data-element_type="widget" data-widget_type="spacer.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>