<section class="elementor-section elementor-top-section elementor-element elementor-element-1682652 elementor-section-stretched elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="1682652" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;,&quot;tmea_shape_divider_top&quot;:&quot;none&quot;,&quot;tmea_shape_divider_bottom&quot;:&quot;none&quot;}" style="width: 766px; left: 15px;">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f761c49 sc_layouts_column_icons_position_left" data-id="f761c49" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-5125879 sc_fly_static elementor-widget elementor-widget-spacer" data-id="5125879" data-element_type="widget" data-widget_type="spacer.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-aab55a1 .scheme_default .sc_item_subtitle sc_fly_static elementor-widget elementor-widget-heading" data-id="aab55a1" data-element_type="widget" data-widget_type="heading.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<h5 class="elementor-heading-title elementor-size-default">What people say</h5>		</div>
</div>
<div class="elementor-element elementor-element-b4c6334 sc_testimonials_item_content sc_fly_static elementor-widget elementor-widget-tme-testimonial_carousel" data-id="b4c6334" data-element_type="widget" data-widget_type="tme-testimonial_carousel.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div id="tme-testimonials-carousel-b4c6334" class="tme-testimonials-carousel noanim slick-initialized slick-slider" data-prv="lnr lnr-chevron-left" data-nxt="lnr lnr-chevron-right" data-autoplay="true" data-duration="5000" data-infinite="true" data-nav="true" data-dots="false" data-postcolumns="one" data-rtl="false" style="opacity: 1;"><button type="button" class="slick-prev slick-arrow" style=""><i class="lnr lnr-chevron-left"></i></button>
    <div class="slick-list draggable" style="height: 222.953px;">
        <div class="slick-track" style="opacity: 1; width: 3690px;">
            </div></div><button type="button" class="slick-next slick-arrow" style=""><i class="lnr lnr-chevron-right"></i></button></div>
</div>
</div>
<div class="elementor-element elementor-element-31ed672 sc_fly_static elementor-widget elementor-widget-spacer" data-id="31ed672" data-element_type="widget" data-widget_type="spacer.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>