<section class="elementor-section elementor-top-section elementor-element elementor-element-7a4daca elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7a4daca" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;tmea_shape_divider_top&quot;:&quot;none&quot;,&quot;tmea_shape_divider_bottom&quot;:&quot;none&quot;}" style="width: 766px; left: 15px;">
    <div class="elementor-container elementor-column-gap-extended">
        <div class="elementor-row">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7d26fd5 sc_layouts_column_icons_position_left" data-id="7d26fd5" data-element_type="column">
<div class="elementor-column-wrap elementor-element-populated">
        <div class="elementor-widget-wrap e-swiper-container">
    <div class="elementor-element elementor-element-8a09d04 sc_fly_static elementor-widget elementor-widget-trx_sc_title" data-id="8a09d04" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="trx_sc_title.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div id="trx_sc_title_37348117" class="sc_title sc_title_accent"><h4 class="sc_item_title sc_title_title sc_item_title_style_accent sc_item_title_tag"><span class="sc_item_title_text">Our Partners</span></h4><div class="sc_item_descr sc_title_descr"><p>Our growing family of partners that enable us to expand our reach and impact!</p>
</div><a href="/our-partners/" id="sc_button_1672240244" class="sc_button sc_button_simple sc_item_button sc_item_button_simple sc_title_button sc_button_size_normal sc_button_icon_left"><span class="sc_button_text"><span class="sc_button_title">View All</span></span><!-- /.sc_button_text --></a><!-- /.sc_button --></div><!-- /.sc_title -->		</div>
</div>
<div class="elementor-element elementor-element-e4e03d7 sc_fly_static elementor-widget elementor-widget-spacer" data-id="e4e03d7" data-element_type="widget" data-widget_type="spacer.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-fe953c4 elementor-arrows-position-outside sc_fly_static elementor-widget elementor-widget-image-carousel" data-id="fe953c4" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;5&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;speed&quot;:1500,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;infinite&quot;:&quot;yes&quot;}" data-widget_type="image-carousel.default" style="animation: 0s ease 0s 1 normal none running none;">
<div class="elementor-widget-container">
<div class="elementor-image-carousel-wrapper swiper-container swiper-container-initialized swiper-container-horizontal" dir="ltr">
<div class="elementor-image-carousel swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-5508px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate" style="width: 324px;" data-swiper-slide-index="17"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="yp7" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2021/06/yp7.jpg" alt="yp7"></figure></a></div><div class="swiper-slide swiper-slide-duplicate" style="width: 324px;" data-swiper-slide-index="18"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="yp8" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2021/06/yp8.jpg" alt="yp8"></figure></a></div>
            <div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="0"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="abhas" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/abhas.jpg" alt="abhas"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="1"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="teacherNew" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/teacherNew-1.jpg" alt="teacherNew"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="2"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="tapNew" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/tapNew.jpg" alt="tapNew"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="3"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="Peenew" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/Peenew.jpg" alt="Peenew"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="4"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="innovated" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/innovated.jpg" alt="innovated"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="5"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="art-of-play" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/art-of-play.jpg" alt="art-of-play"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="6"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="single" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/single.jpg" alt="single"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="7"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="avasara" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/avasara.jpg" alt="avasara"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="8"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="aurobino" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/aurobino.jpg" alt="aurobino"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="9"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="muskan" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/muskan.jpg" alt="muskan"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="10"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="sunbird" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/sunbird.jpg" alt="sunbird"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="11"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="yp1" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2021/06/yp1.jpg" alt="yp1"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="12"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="yp2" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2021/06/yp2.jpg" alt="yp2"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="13"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="yp3" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2021/06/yp3.jpg" alt="yp3"></figure></a></div><div class="swiper-slide swiper-slide-prev" style="width: 324px;" data-swiper-slide-index="14"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="yp4" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2021/06/yp4.jpg" alt="yp4"></figure></a></div><div class="swiper-slide swiper-slide-active" style="width: 324px;" data-swiper-slide-index="15"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="yp5" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2021/06/yp5.jpg" alt="yp5"></figure></a></div><div class="swiper-slide swiper-slide-next" style="width: 324px;" data-swiper-slide-index="16"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="yp6" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2021/06/yp6.jpg" alt="yp6"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="17"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="yp7" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2021/06/yp7.jpg" alt="yp7"></figure></a></div><div class="swiper-slide" style="width: 324px;" data-swiper-slide-index="18"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="yp8" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2021/06/yp8.jpg" alt="yp8"></figure></a></div>			<div class="swiper-slide swiper-slide-duplicate" style="width: 324px;" data-swiper-slide-index="0"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="abhas" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/abhas.jpg" alt="abhas"></figure></a></div><div class="swiper-slide swiper-slide-duplicate" style="width: 324px;" data-swiper-slide-index="1"><a data-elementor-open-lightbox="yes" data-elementor-lightbox-slideshow="fe953c4" data-elementor-lightbox-title="teacherNew" href="/our-partners"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="https://yultimate.org/wp-content/uploads/2020/12/teacherNew-1.jpg" alt="teacherNew"></figure></a></div></div>
                                            <div class="elementor-swiper-button elementor-swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">
    <i aria-hidden="true" class="eicon-chevron-left"></i>						<span class="elementor-screen-only">Previous</span>
</div>
<div class="elementor-swiper-button elementor-swiper-button-next" tabindex="0" role="button" aria-label="Next slide">
    <i aria-hidden="true" class="eicon-chevron-right"></i>						<span class="elementor-screen-only">Next</span>
</div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div>
</div>
    </div>
</div>
</div>
            </div>
</div>
</section>